body {
    color: #fafafa;
    background-color: #222222;
}

.main_content {
    line-height: 1.5em;
    padding: 0px;
}

.nav {
    background-color: black;
    color: white;
}

.nav a {
    color: white;
    margin: 10px;
}

.nav a:visited, .nav a:active {
    text-decoration: none;
}

.navbar-inverse {
    background-color: #000;
    border-color: #080808;
}

.account-nav {
    float: right;
}

/* ********** ALBUM LIST ********* */
.album-in-list {

}

.album-in-list img {
    height: 150px;
    float: left;
    margin: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.album-in-list .album-title {
    font-size: 18px;
}

/*.standard-form input {*/
    /*width: 350px;*/
/*}*/

.standard-form input, .standard-form button {
    margin: 10px;
    color: black;
}

.error-msg {
    color: red;
}

.main_content {
    margin-top: 51px;
}

.yellow-foreground {
    color: #ffdb3d;
}

.blue-foreground {
    color: #326aa5;
}

footer {
    background-color: black;
    padding: 40px;
    margin-top: 0px;
    text-align: center;
}

footer {
    color: #555;
}

footer .row {
    padding: 0px;
    padding-bottom: 1em;
    margin: 0px;
}

footer a, footer .section-header {
    color: #999;
}

footer a:hover {
    color: #fff;
}

footer .mission {
    text-align: left;
}

footer .social {
    /*text-align: left;*/
    line-height: 1.75em;
}

footer .social > div > a {
    width: 75px;
    text-align: left;
    display: inline-block;
}

.table {
    margin-left: 50px;
    margin-top: 40px;
    max-width: 80%;
}