<!DOCTYPE html>
<html lang="{{ request.locale_name }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{ request.static_url('shopyourway:static/img/pyramid-16x16.png') }}">

    <title>Shop Your Way</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bower_components/bootstrap-css/css/bootstrap.min.css?cacheId={{ view.build_cache_id('/static/bower_components/bootstrap-css/css/bootstrap.min.css') }}"
          rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css?cacheId={{ view.build_cache_id('/static/bower_components/font-awesome/css/font-awesome.min.css') }}"
          rel="stylesheet" type="text/css">

{#    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"#}
{#          type="text/css">#}

    <!-- Custom styles for this scaffold -->
{#    <link href="/static/css/landing-page.css?cacheId={{ view.build_cache_id('/static/css/landing-page.css') }}"#}
{#          rel="stylesheet">#}
    <link href="/static/css/theme.css?cacheId={{ view.build_cache_id('/static/css/theme.css') }}" rel="stylesheet"/>
    <link href="/static/css/site.css?cacheId={{ view.build_cache_id('/static/css/site.css') }}" rel="stylesheet"/>
    <link href="/static/css/nav.css?cacheId={{ view.build_cache_id('/static/css/nav.css') }}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/bower_components/html5shiv/dist/html5shiv.js?cacheId={{ view.build_cache_id('/static/bower_components/html5shiv/dist/html5shiv.js') }}"></script>
    <script src="/static/bower_components/respond/dest/respond.min.js?cacheId={{ view.build_cache_id('/static/bower_components/respond/dest/respond.min.js') }}"></script>
    <![endif]-->
    {% block additional_css %}
    {% endblock additional_css %}
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png"/> <span class="blue-foreground">Shop</span> / <span
                    class="yellow-foreground">Your</span> Way</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/stores">stores</a>
                </li>
                <li>
                    <a href="/products">products</a>
                </li>
                <li>
                    <a href="/home/about">about</a>
                </li>
                <li>
                    <a href="/home/contact">contact</a>
                </li>
                <li>
                    <a href="/account/signin" class="hidden-sm">sign in</a>
                </li>
                <li>
                    <a href="/account/register" class="hidden-md hidden-sm">register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main_content">
    {% block main_content %}
    {% endblock main_content %}
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bower_components/jquery-dist/jquery.min.js?cacheId={{ view.build_cache_id('/static/bower_components/jquery-dist/jquery.min.js') }}"></script>
<script src="/static/bower_components/bootstrap-css/js/bootstrap.min.js?cacheId={{ view.build_cache_id('/static/bower_components/bootstrap-css/js/bootstrap.min.js') }}"></script>
</body>
</html>
