{% extends 'templates/shared/_base_template.jinja2' %}

{% block main_content %}
  <div>
      <h1>Create an account</h1>

      {% if error %}
          <div class="error-msg">
              Error: {{ error }}
          </div>
      {% endif %}

      <form class="standard-form" action="" method="POST">
          <input name="email" required type="email" value="{{ email }}" placeholder="email address"><br>
          <input name="password" required type="password" value="{{password}}" placeholder="password"><br>
          <input name="confirm_password" required type="password" value="{{confirm_password}}" placeholder="confirm password"><br>
          <button type="submit">Register</button>
      </form>
  </div>

{% endblock main_content %}
