{% extends 'templates/shared/_base_template.jinja2' %}

{% block main_content %}
    <div>
        <h1>Welcome to Shop Your Way </h1>
        <p>
          Look around, browse...
        </p>
    </div>
{% endblock main_content %}

